// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


img {
    width: 30%;
}

.py-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 40%;
}

#sort-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 60%;
}

#account-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.btn {
    margin-bottom: 30px;
}

.item {
    display: flex;   
}

.data-id,
.data-query {
    margin-right: 40px;
}

.list-container,
.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form,
#sort-form,
#account-form {
    border: 1px solid #ccc;
    border-radius: 5px;
}

#query,
#button {
    margin: 10px;
}

.edit-form {
    display: none;
}

.delete,
.edit,
.ok,
.cancel {
    background: #fff;
	outline: none;
	border: 0;
}

.cancel-link {
    display:  none;
}

.edit-mode {
    .cancel-link {
        display: block;
    }
    .edit-form {
        display: flex;
    }
    .data-query,   
    .edit,
    .delete-link {
        display: none;
    }
}